<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Blog List</h3>
<div>
    <label><input type="search" id="search" name="q" placeholder="Enter blogs title" required></label>
    <button type="button" onclick="searchBlogs()">Search</button>
</div>
<p>
    <a th:href="@{/categories}">
        Category List
    </a>
</p>
<p>
    <a th:href="@{/blogs/create}">
        Add new blog
    </a>
</p>
<div class="notify">
    <div th:if="${message}" style="margin-bottom: 5px;">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="list">
    <thead>
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
        <th>Published Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="blogs">
    <tr th:each="blog, stat:${blogs}" th:class="${stat.odd}?'odd':'even'">
        <td th:text="${stat.count}"></td>
        <td>
            <a th:href="@{/blogs/{id}/view(id=${blog.id})}" th:text="${blog.title}"></a>
        </td>
        <td th:text="${blog.content}" id="content"></td>
        <td th:text="${blog.getCategory().name}"></td>
        <td th:text="${#temporals.format(blog.publishedDate, 'dd/MM/yyyy')}"></td>
        <td>
            <a th:href="@{/blogs/{id}/edit(id=${blog.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/blogs/{id}/delete(id=${blog.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<button type="button" th:if="${blogs.hasNext()}" id="load-more" onclick="loadMore()">Load More</button>
<!--<div style="text-align: center">-->
<!--    <a class="btn btn-primary" th:if="${blogs.hasPrevious()}"-->
<!--       th:href="@{/blogs(page=${blogs.number - 1})}">Previous</a>-->
<!--    <span th:text="${blogs.number + 1}"></span> | <span th:text="${blogs.totalPages}"></span>-->
<!--    <a class="btn btn-primary" th:if="${blogs.hasNext()}"-->
<!--       th:href="@{/blogs(page=${blogs.number + 1})}">Next</a>-->
<!--</div>-->
<footer th:insert="/layout :: footer"></footer>
<script>
    function searchBlogs() {
        event.preventDefault();
        let title = $("#search").val();
        $.ajax({
            url: `http://localhost:8080/api/blogs/search?q=${title}`,
            type: "GET",
            success: function (data) {
                console.log("Data received:", data);
                let blogs = data.content;

                let content = "";
                for (let i = 0; i < blogs.length; i++) {
                    content += `
                    <tr>
                        <td>${i + 1}</td>
                        <td>
                            <a href="/blogs/${blogs[i].id}/view">${blogs[i].title}</a>
                        </td>
                        <td id="content">${blogs[i].content}</td>
                        <td>${blogs[i].category.name}</td>
                        <td>
                            ${blogs[i].publishedDate[2]}/${ blogs[i].publishedDate[1]}/${blogs[i].publishedDate[0]}
                        </td>
                        <td><button type="button" class="edit" value="${blogs[i].id}">Edit</button></td>
                        <td><button type="button" class="delete" value="${blogs[i].id}">Delete</button></td>
                    </tr>`;
                }
                $("#blogs").html(content);
            }
        });
    }

    let currentPage = 0;
    let pageSize = 4;
    function loadMore() {
        event.preventDefault();
        currentPage++;
        $.ajax({
            url: `http://localhost:8080/api/blogs?page=${currentPage}`,
            type: "GET",
            success: function (data) {
                console.log("Data received:", data);
                let blogs = data.content;
                let content = "";
                for (let i = 0; i < blogs.length; i++) {
                    content += `
                    <tr>
                        <td>${i + 1 + currentPage * pageSize}</td>
                        <td>
                            <a href="/blogs/${blogs[i].id}/view">${blogs[i].title}</a>
                        </td>
                        <td id="content">${blogs[i].content}</td>
                        <td>${blogs[i].category.name}</td>
                        <td>
                            ${blogs[i].publishedDate[2]}/${ blogs[i].publishedDate[1]}/${blogs[i].publishedDate[0]}
                        </td>
                        <td><button type="button" class="edit" value="${blogs[i].id}">Edit</button></td>
                        <td><button type="button" class="delete" value="${blogs[i].id}">Delete</button></td>
                    </tr>`;
                }
                $("#blogs").append(content);
            }
        });
    }
</script>
</body>
</html>